{% extends 'base.html' %}

<head>
    {% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'publishCalls/index.css' %}">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'publishCalls/index.css' %}">
    <link rel="stylesheet" href="{% static 'publishCalls/dist/dropzone.css' %}">
    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script defer src="{% static 'publishCalls/dist/dropzone.js' %}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script defer src="{% static 'publishCalls/newdragNdropCalls.js' %}" charset="utf-8"></script>
    {% endblock %}
</head>
{% block body %}
<br>
<div class="container">
  <table id="example" class="table table-borderless" style="width:100%; search:none;">
    <script> $(document).ready(function() {
        $('#example').DataTable( {
            "searching": false,
            "sorting": false,
            "paging": false,
            "info": false,
            "lengthChange":false,
            "targets": 'no-sort',
            "bSort": false,
            "order": []
        } );
    } );
  </script>
    <thead style="background-color:teal; color:white;">
    <tr>
        <th> Title </th>
        <th> Funds </th>
        <th> Deadline </th>
        <th> Target </th>
        <th> Created </th>
        <th> Funder ID </th>
        <th> Description </th>
    </tr>
    </thead>
    <tbody>
      {% for item in call_obj %}
    <tr>
        <td>{{ item.title }} </td>
        <td>{{ item.funds }} </td>
        <td>{{ item.deadline }} </td>
        <td>{{ item.target }} </td>
        <td>{{ item.created }} </td>
        <td>{{ item.funder_id }} </td>
        <td>{{ item.description }} </td>

    </tr>
    {% endfor %}
   </tbody>
  </table>
  <!-- {% comment %}
  <h1 style="color:teal; font-size=3vw; margin-left:10px;">Call View</h1><br>
    <div class="container" style="margin-left:2px">


    {% for item in call_obj %}
        <p style="font-size:1.6vw">Title: {{ item.title }}</p>
        <p style="font-size:1.6vw">Funds: {{ item.funds }}</p>
        <p style="font-size:1.6vw">Deadline: {{ item.deadline }}</p>
        <p style="font-size:1.6vw">Target: {{ item.target }}</p>
        <p style="font-size:1.6vw">Created: {{ item.created }}</p>
        <p style="font-size:1.6vw">Funder ID: {{ item.funder_id }}</p>
        <p style="font-size:1.6vw">Description: {{ item.description }}</p>
    {% endfor %}
    {% endcomment %} -->
  </div>

{% if user.researcher %}
<div class="container">
    <!-- <form method="post" enctype="multipart/form-data"> -->
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <input id="call_id" type="text" style="visibility:hidden" value={{ call_id }}>
        <section id="dz">
            <div id="dropbox" class="dropzone form-control"></div><br>
        </section>
        <button id="btn" type="button" class="btn btn-success btn-large">Apply</button>

        <div id="prog" class="progress">
            <div id="progress" class="progress-bar progress-bar-striped bg-info active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:0%"> 0% </div>
        </div>
        <!-- <button class="btn btn-success" type="submit">Apply</button> -->
    <!-- </form> -->
</div>
{% endif %}

{% for i in link_obj %}
<a href="http://127.0.0.1:8000/home/download_file?filename={{ i }}" download> Click here to download related documents ( {{ i }} ) </a>
{% endfor %}

{% endblock %}
