{% extends 'base.html' %}

<head>
    {% block head %}

    <meta charset="UTF-8">
    {% endblock %}
</head>

{% block body %}
<div class="container" id="first_container">
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <h1>Published Calls</h1>
        </div>
        <div class="col-sm-2">
            {% if user.funder %}
            <form action="{% url 'home:pub' %}">
                <button class="btn btn-success" type='submit'>Create Call</button>
            </form>
            {% endif %}
        </div>
      </div>

    <section id="summary">
        <table id="example" class="table" style="width:100%">
          <thead>
          <tr>
              <th> Posted </th>
              <th> Title of call </th>
              <th> Grant range </th>
              <th> Deadline </th>
              <th> Target audience </th>
          </tr>
          </thead>
          <tbody>
          {% for item in tableData %}
          <tr>
              <td id="s_created">{{ item.created }}</td>
              <td id="s_title"><a href="{% url 'home:call_view' %}?call_id={{ item.id }}"> {{ item.title }} </a></td>
              <td id="s_amount">{{ item.funds }}</td>
              <td id="s_deadline">{{ item.deadline }}</td>
              <td id="s_target">{{ item.target }}</td>
          </tr>
          {% endfor %}
         </tbody>
        </table>
    </section>
</div>
{% endblock %}
