{% extends 'base.html' %}

<head>
    {% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'publishCalls/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <script defer src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script defer src="{% static 'homeDataTable/dataTable.js' %}"></script>
    <meta charset="UTF-8">
    {% endblock %}
</head>

{% block body %}
<div class="container" id="first_container">
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <h1>Published Calls</h1>
        </div>
        <div class="col-sm-2">
            {% if request.user.is_superuser %}
            <form action="{% url 'home:pub' %}">
                <button class="btn btn-success" type='submit'>Create Call</button>
            </form>
            {% endif %}
        </div>
      </div>

    <section id="summary">
        <table id="example" class="table" style="width:100%">
          <thead>
          <tr>
              <th> Title of call </th>
              <th> Grant range </th>
              <th> Deadline </th>
              <th> Target audience </th>
          </tr>
          </thead>
          <tbody>
          {% for item in tableData %}
          <tr>
              <td id="s_title"><a href="{% url 'home:call_view' %}?call_id={{ item.id }}"> {{ item.title }} </a></td>
              <td id="s_amount">€{{ item.funds }}</td>
              <td id="s_deadline">{{ item.deadline }}</td>
              <td id="s_target">{{ item.target }}</td>
          </tr>
          {% endfor %}
         </tbody>

        </table>
    </section>
</div>
{% endblock %}
