{% extends 'base.html' %}

<head>
    {% block head %}

    <meta charset="UTF-8">
    {% endblock %}
</head>

{% block body %}
<section id='tables'>
  <table id='center-table'>
    <thead>
      <tr>
        <th>Centers</th>
      </tr>
      <tr>
        <th>Name</th>
        <th> Date Created </th>
        <th> More Info </th>
      </tr>
    </thead>
    <tbody>
      {% for item in centerQuerySet %}
      <tr>
        <td id="center-name">{{ item.name }}</td>
        <td id='center-date'>{{ item.created }}</td>
        <td id='center-info'>{{ item.info }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <table id='researcher-table'>
    <thead>
      <tr>
        <th>Reasearchers</th>
      </tr>
      <tr>
        <th> First Name </th>
        <th> Last Name </th>
        <th> Job Title </th>
      </tr>
    </thead>
    <tbody>
      {% for item in researcherQuerySet %}
      <tr>
        <td id='researcher-fname'><a href="../../account/view-researcher/{{ item.user.id }}">{{ item.user.first_name }}</a></td>
        <td id='researcher-lname'><a href="../../account/view-researcher/{{ item.user.id }}">{{ item.user.last_name}}</a></td>
        <td id='researcher-title'>{{ item.job_title }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
