{% extends 'base.html' %}
<!DOCTYPE html>

<html>
{% if request.user.is_superuser %}
    <head>
        {% block head %}
        <title>Publish calls</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'publishCalls/index.css' %}">
        <link rel="stylesheet" href="{% static 'publishCalls/dist/dropzone.css' %}">
        <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script defer src="{% static 'publishCalls/dist/dropzone.js' %}"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script defer src="{% static 'publishCalls/newdragNdrop.js' %}" charset="utf-8"></script>
        {% endblock %}
    </head>
    <body>
        <div class="col-xs-12">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success" role="alert">
                <center>{{ message }}</center>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% block body %}

           <button  style="visibility:hidden" id="collapsingButton" class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapser" aria-expanded="false" aria-controls="collapse">
                Publishing a call? click here!
            </button>

          <div class="container">
            <div class="row">
              <div class="col-sm-6 offset-sm-3 text-center" style="background-color:#F5F5F5;">
                {% if edit %}
                    <h1 class="text-left">Edit call</h1>
                {% else %}
                    <h1 class="text-left">Publish call</h1>
                {% endif %}

                <br>
                <section id="form" style="width:100%">
                    <div class="collapse show" id="collapser">
                      <div class="well" >

                        <form id="checkForm" style="width:100%" class="text-left" method="POST" action="/home/publish_call">
                            {% csrf_token %}
                            <label for="eligibility">Select target audience</label>
                            <select class="custom-select" id="tag" name="tag">
                                {% if edit %}
                                <option id="" value="{{ edit_info.0 }}">{{ edit_info.0 }}</option>
                                {% endif %}
                                {% for eligibility in db %}
                                  <option value="{{ eligibility }}">{{ eligibility }}</option>
                                {% endfor %}
                            </select>
                            <label for="fname">First name</label>
                            <input id="fname" name="fname" type="text" placeholder="enter first name here.." class="form-control is-valid" value="{{ user.first_name }}" disabled>
                            <label for="sname">Family name (optional)</label>
                            <input id ="sname" name="sname" type="text" placeholder="enter family name here.." class="form-control is-valid" value="{{ user.last_name }}" disabled>
                            <label for="title">Call title</label>
                            <input id ="title" name="title" type="text" placeholder="enter call title here.." class="form-control is-invalid" value="{{ edit_info.1 }}" required>
                            <label for="description">Create a description for the call</label>
                            <textarea id="description" class="form-control" placeholder="Write brief call description here.. (optional)" rows="4" cols="50" name="description" form="checkForm">{{ edit_info.2 }}</textarea>
                        <!-- {{ form }} -->
                            <label for="deadline">Select deadline date </label>
                            <input id="date" value="{{ edit_info.3 }}" type="date" class="custom-select" name="date" required>
                            <!-- <input id="grant" value={{ edit_info.4 }} name="grant" class="form-control is-invalid" type="number" placeholder="0"> -->

                            <label for="grant">Grant value</label>
                            <select class="custom-select" id="grant" name="grant">
                                {% if edit %}
                                <option value="{{ edit_info.4 }}">{{ edit_info.4 }}</option>
                                {% endif %}
                                {% for fund in funds %}
                                <option value="{{ fund }}"> {{ fund }} </option>
                                {% endfor %}
                            </select>
                            <div class="container text-center">
                              <input name="editing_mode" name="editing_mode_tag" type="text" id="updating_call" value="{{ edit }}" style="visibility:hidden">
                              <input name="_call_id" type="text" id="_call_id" value="{{ edit_info.6 }}" style="visibility:hidden">
                              <section id="dz">
                                <div id="dropbox" class="dropzone "></div><br>
                              </section>
                              {% if edit %}
                              <h5> Please note: All changes will update the call globally</h5><br>
                              <input type="submit" id="btn" class="btn btn-success btn-large" value="Submit changes"><br>
                              {% else %}
                              <button id="btn" type="button" class="btn btn-success btn-large">Publish Call</button><br>
                              {% endif %}
                              <div id="prog" class="progress">
                                <div id="progress" class="progress-bar progress-bar-striped bg-info active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:0%"> 0% </div>
                              </div>
                            </div>
                        </form>
                      </div>

                  </div>
            </section>
          </div>
        </div>
      </div>

      <div class="container">
        <section id="summary" style="visibility:hidden">
          <h2 id="summaryHeading"> Thank you for submitting {{ user.first_name }}! </h2>
            <p> Here is a quick summary of your publication. </p>
            <table id="example" class="table table-borderless" style="width:100%">
              <thead style="background-color:teal; color:white;">
                <tr>
                  <th> Title of call </th>
                  <th> Description </th>
                  <th> Grant amount </th>
                  <th> Deadline </th>
                  <th> Files uploaded </th>
                </tr>
              </thead>
              <tr>
                  <td id="s_title"> </td>
                  <td id="s_desc"> </td>
                  <td id="s_amount"> </td>
                  <td id="s_deadline"> </td>
                  <td id="s_call_pdf"> </td>
              </tr>
            </table>
            <button name="edit" value="edit"/>
        </section>
      </div>
        {% endblock %}
    </body>
{% else  %}
<h1> unauthorized </h1>
<p> This page is for publisher users only. </p>

{% endif %}
</html>
