{% extends 'base.html' %}

<head>
    {% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'publishCalls/index.css' %}">
    {% endblock %}
</head>
{% block body %}
<br>

<div class="container">
  <h1>Centers</h1>
  {% if result %}
    {% if result == 'success' %}
      <p>User Successfully Added to Center!</p>
    {% else %}
      <p>User Email Does Not Exist!</p>
    {% endif %}
  {% endif %}
  {% if center_obj %}
  <table id="example" class="table table-borderless" style="width:100%">
    <thead style="background-color:teal; color:white;">
    <tr>
        <th> Name </th>
        <th> Description </th>
        <th> Created </th>
        <th> Admin </th>
    </tr>
    </thead>
    <tbody>
      {% for item in center_obj %}
    <tr>
        <td>{{ item.name }} </td>
        <td>{{ item.info }} </td>
        <td>{{ item.created }} </td>
        <td>{{ item.admin_id }} </td>
        <td>
          <form class="add_user" action="{% url 'home:add_to_center' %}" method="get">
            <input type="text" name="user_email" placeholder="User Email">
            <input type="hidden" name="center" value="{{ item.name }}">
          </form>
        </td>
    </tr>
      {% endfor %}
   </tbody>
  </table>
    {% else %}
    <i><p>Not part of a center, create a center below</p></i>
    {% endif %}

    <form action="{% url 'home:create_center' %}">
        <button class="btn btn-success" type='submit'>Create Center</button>
    </form>
  </div>
{% endblock %}
