{% extends 'base.html' %}

<head>
    {% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'publishCalls/index.css' %}">
    {% endblock %}
</head>
{% block body %}
<br>

<div class="container">
  <h1 style="color:teal">Centers</h1>

  <table id="example" class="table" style="width:100%">
    <thead>
    <tr>
        <th> Name </th>
        <th> Description </th>
        <th> Created </th>
        <th> Admin </th>
    </tr>
    </thead>
    <tbody>
      {% if center_obj %}
      {% for item in center_obj %}
    <tr>
        <td>{{ item.name }} </td>
        <td>{{ item.info }} </td>
        <td>{{ item.created }} </td>
        <td>{{ item.admin_id }} </td>

    </tr>
    {% endfor %}
   </tbody>
  </table>

<!--
    {% comment %}
    div class="container" style="margin-left:0">
        h1 style="color:teal; font-size:3vw">Centers</h1>
        {% if center_obj %}
        {% for item in center_obj %}
            <p style="font-size:1.75vw">Name: {{ item.name }}</p>
            <p style="font-size:1.75vw">Description: {{ item.info }}</p>
            <p style="font-size:1.75vw">Created: {{ item.created }}</p>
            <p style="font-size:1.75vw">Admin: {{ item.admin_id }}</p>
          {% if item.admin_id == request.user.id %}
                <button class="btn btn-danger" type='submit'>Add User</button>
          {% endif %}
          {% endfor %}
      {% endcomment %}
         -->
    {% else %}
    <i><p>Not part of a center, create a center below</p></i>
    {% endif %}

    <form action="{% url 'home:create_center' %}">
        <button class="btn btn-success" type='submit'>Create Center</button>
    </form>
  </div>
{% endblock %}
