{% extends 'form.html' %}
{% block form %}
    <form method="post">
        <label for="start">Start date</label>
        <input type="text" name="start" value="{{ start }}" id="start"><br>
        <label for="end">End date</label>
        <input type="text" name="end" value="{{ end }}" id="end"><br>
        <label for="institution">Institution</label>
        <input type="text" name="institution" value="{{ institution }}" id="institution"><br>
        <label for="dept">Department</label>
        <input type="text" name="dept" value="{{ dept }}" id="dept"><br>
        <label for="location">Location</label>
        <input type="text" name="location" value="{{ location }}" id="location"><br>
        <label for="name">Name</label>
        <input type="text" name="name" value="{{ name }}" id="name"><br>
        <label for="goal">Goal</label>
        <input type="text" name="goal" value="{{ goal }}" id="goal"><br>
        <label for="frequency">Frequency</label>
        <input type="text" name="frequency" value="{{ frequency }}" id="frequency"><br>
        <label for="attribution">Primary attribution</label>
        <input type="text" name="attribution" value="{{ attribution }}" id="attribution"><br>
    </form>
{% endblock %}
