{% extends 'base.html' %}
{% block head %}
    <style media="screen">
        strong {
            color: red;
        }
        label {
            text-align: left;
        }
    </style>
    <title>{{ title }}</title>
{% endblock %}
{% block body %}
<div class="container">
    <h2>{{ title }}</h2>
    <div id="errors">
        {% for error in errors %}
        <p><strong>{{ error }}</strong></p>
        {% endfor %}
    </div>
    <form method="post">
        {% csrf_token %}
        {% block form %}
        {% endblock %}
        <input type="submit" value="Save">
    </form>
</div>
{% endblock %}
