{% extends 'base.html' %}
{% block head %}
    <style media="screen">
        strong {
            color: red;
        }
        label {
            text-align: left;
        }
    </style>
    <title>{{ title }}</title>
{% endblock %}
{% block body %}
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4 offset offset-sm-4 text-center" style="background-color:#F5F5F5; border:2px solid teal; padding:10px;">

    <h2>{{ title }}</h2>
    <div id="errors">
        {% for error in errors %}
        <p><strong>{{ error }}</strong></p>
        {% endfor %}
    </div>
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td><label for="is_private">Is private</label></td>
                <td><input class="text-center"type="checkbox" name="is_private" {% if is_private %}checked{% endif %}></td>
            </tr>
            {% for input in inputs %}
                <tr>
                    <td>

                        <label for="{{ input.name }}">{{ input.label }}</label>
                    </td>
                    <td>
                        <input class="form-control" type="text" name="{{ input.name }}" value="{{ input.value }}">
                    </td>
                </tr>
            {% endfor %}
        </table>
        <button class="btn btn-success" type="submit">Save</button>
    </form>
</div>
{% endblock %}
