{% extends 'base.html' %}

<title>Profile</title>

{% block body %}
<br>
<div class="container" style="margin-left:2px">
    <div class="container">
        <div class="col-xs-12">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success" role="alert">
                <center>{{ message }}</center>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <h1>Account details</h1>
        <h5>First name:{{ user.first_name }}</h5>
        <h5>Last name: {{ user.last_name }}</h5>
        <h5>Email: {{ user.email }}</h5>
    </div>

{% endblock %}
